#hero{
    max-width: 100%;
    max-height: 70%;
}

.container-fluid{
    background-color:aqua;
}

body{
    background-color: rgb(4, 4, 34);
}

.nav-link{
    color:aliceblue;
}

footer{
    color:aliceblue;
}

footer ul{
    list-style: none;
}

#open-website{
    background-color: aliceblue;
    color:aqua;
}

hero-img{
    position:absolute;
}

h1{
    color:aliceblue;
    position:relative;
    top: -130px;
    left:-140px;
    text-align: center;
}