#hero{
    max-width: 100%;
    max-height: 60%;
}

body{
    background-color: rgb(4, 4, 34);
}

.nav-link{
    color:aliceblue;
}

footer{
    color:aliceblue;
}

footer ul{
    list-style: none;
}

/* button customization */
#open-website{
    background-color: rgba(240, 248, 255, 0);
}

button{

}
/* end button customization */

.hero-img{
    max-width:100%;
    position: static;
}


/* hero text */
.animate__animated.animate__fadeInLeft {
    --animate-duration:3s;
    color:aliceblue;
    position:relative;
    text-align: center;
    left: -20vh;
}

.animate__animated.animate__fadeInRight{
    --animate-duration:3s;
    color:aliceblue;
    position:relative;
    text-align: center;
    left: 35vh;
}
/* end hero text */

.text-block1{
    text-align: center;
    color:aliceblue;
    margin-top: 10vh;
}

.emph{
    color:rgb(235, 60, 115);
}

