body, html{
    height: 100%;
    background-color: rgb(4, 4, 34);
}

.hero{
    /* The image used */
    background-image: url("imgs/photo-1600122534527-748e8fe0d75e.avif");
    /* Full height */
    height: 55%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
  }

.main-statement{
    background-color: rgb(255, 255, 255);
    color: black;
    margin-top: 100px;
    width: 70%;
    text-align: center;
}